* {
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: rgb(78, 62, 168);
}

form {
    padding: 40px;
}

.card {
    font-size: 18px;
    font-weight: 600;
    margin-top: 40px;
    border-style: solid;
}

.card-body {
    background-color: rgb(86, 204, 204);
}

.enterAmount {
    border-style:solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: cadetblue;
    text-align: center;
    width: 50%;
    margin: auto;
}

.form-group {
    margin-bottom: 15px;
}

div.justify-content-center{
    text-align: center;
    margin-top: 20px;
}

#results {
    text-align: center;
    margin-top: 10px;
}

select {
    margin-top: 5px;
}
